body {background-color:#000;font-family: sans-serif;}
h1{ color: #818181;
    font-weight: 700;
    margin-left: 35px;
    padding-top: 30px;}
.container{
	width: 800px ;
    border: 1 px solid;
    border-radius: 30px;
    background: #fff;

}
.inner-container{
margin-left: 5em;
}
.fields{
	margin-bottom: 15px;
}
.label{
float: left;
width: 7em;
}
.copyright{
	margin-left: 35px;
	padding: 18px 0;
}
